<header class="header-6">
  <div class="header-nav">
    <a routerLink="javascript://" class="nav-link nav-text"
      >Customer Management</a
    >
    <a routerLink="javascript://" class="nav-link nav-icon">
      <clr-icon shape="users" class="has-badge"></clr-icon>
    </a>
    <a routerLink="javascript://" class="active nav-link nav-text">Customers</a>
    <a routerLink="javascript://" class="nav-link nav-text">Orders</a>
    <a routerLink="javascript://" class="nav-link nav-text">About</a>
    <a routerLink="javascript://" class="nav-link nav-text">Login</a>
  </div>
</header>
