<div class="customers-title">
  <h1><clr-icon shape="user"></clr-icon> Customers</h1>
</div>
<div class="btn-group btn-primary">
  <button class="btn"><clr-icon shape="grid-view"></clr-icon> Card View</button>
  <button class="btn"><clr-icon shape="view-list"></clr-icon> List View</button>
  <button class="btn"><clr-icon shape="map-marker"></clr-icon> Map View</button>
  <button class="btn"><clr-icon shape="plus"></clr-icon> New Customer</button>
</div>

<app-costumers-card [customers]="customersList"></app-costumers-card>
